<app-directives></app-directives>
<hr>

<h1>Interpolation Binding Syntax</h1>
<h3>{{title}}</h3>
<hr>

<h1>Property Binding</h1>
<h3 [innerText]="title">Property Binding</h3>

<h1>Event Binding</h1>
<!--<button (click)="titleOnClick();showAlert();">Click me!</button>-->

<h1 title="abc">Attribute Binding</h1>
<h1 [attr.title]="title">Attribute Binding1</h1>  <!--Recommended-->
<h1 title="{{tooltip}}">Attribute Binding 2</h1>  <!--Not Recommended-->

<h1 class="heading heading2">Class Binding</h1>  <!--Recommended, but cannot change dynamically-->
<h1 [class.heading]="toggleClass">Class Binding1</h1>  <!--Recommended, -->
<h1 [class]="['heading', 'heading2']">Class Binding with string array</h1>  <!--Recommended-->
<h1 [class]="{heading:true, heading2:false}">Class Binding With object</h1>
<button (click)="changeClass()">Change heading color</button>

<hr>
<h1 style="color: blue; background-color: yellow">Style Binding</h1>
<h1 [style.color]="color">Style Binding1</h1>
<h1 [style.color]="color" [style.backgroundColor]="(color=='blue'?'green':'blue')">Style Binding 2</h1>
<h1 [style]="'color: blue; backgroundColor: yellow'">Style Binding3</h1>
<button (click)="changeColor()">Change Color</button>
